<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu primeiro App</title>
</head>
<body>
    <a href="/">Inicio</a>
    <a href="/contatos">Contatos</a>
    <a href="/sobre">Sobre</a>
    {{{body}}}
    <footer>
        &copy; 2024 desenvolvido por Alex
    </footer>
</body>
</html>